# Python
__pycache__/
*.pyc
venv/

# Env
project/.env

# Terraform
.terraform/
./terraform.tfstate
./terraform/municipal/terraform.tfstate.backup
./terraform/municipal/.terraform/
./terraform/municipal/.terraform.lock.hcl
./terraform/municipal/terraform.tfvars
*.tfstate
*.tfstate.backup

# Executables
*.exe

# VSCode
.vscode/

# Logs
*.log